<h1>Dojo Secrets</h1>
<a href="/users/logout" data-method="DELETE">Logout</a>



<h3>Secrets</h3>
<% @secrets.each do |secret| %>
<p><%= secret.message %></p>
<p> <%= secret.likes.all.count %> Likes</p><a href="/secrets/like/<%=secret.id%>" data-method="POST">Like</a>
<% if secret.user_id == session[:id] %>
  <a href="#">Delete</a>
<% end %>
<% end %>


<br>
<br>
<hr>

<a href="/users/show">My Profile</a>
