<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>index</title>
  </head>
  <body>
    <form action="/users" method="post">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
      <input type="text" name="name" value="New User">
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
